bin
obj
obsolete

/*
!.github
!assertion
!docs
!embedded
!src
!standalone
!tests

!.gitignore
!Directory.Build.props
!icon-128px.png
!*.slnx

*.md
!README.md
!LICENSE.md
!SPEC.md

!run-benchmark.bat
!run-debug.bat
